[submodule "src/content/blog"]
	path = src/content/blog
	url = https://github.com/pickyzz/blog-posts
[submodule "src/assets/images"]
	path = src/assets/images
	url = https://github.com/pickyzz/blog-images
