---
import type { BlogFrontmatter,FrontmatterPage } from '@/components';
import { NewerOlderPagination, PaginationHeader, Section } from '@/components';
import { BlogGallery } from '@/components/BlogGallery';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { sortByDate } from '@/utils/Posts';

type GetStaticPaths = {
  paginate: any;
}; // Overrides `GetStaticPathsOptions` types from Astro

export async function getStaticPaths({ paginate }: GetStaticPaths) {
  const allPosts = await Astro.glob<BlogFrontmatter>('./*.{md,mdx}');
  const sortedPosts = sortByDate(allPosts);

  // Return a paginated collection of paths for all posts
  return paginate(sortedPosts, { pageSize: 12 });
}

interface Props {
  page: FrontmatterPage;
}

const { page } = Astro.props as Props;
const titleSuffix = ` - ${AppConfig.site_name}`;
const titleBase = `Blog page ${page.currentPage}`;
const title = titleBase + titleSuffix;
const description = 'Just writing. Nothing else.';
---

<Base head={{ title, description }}>
  <Section>
    <PaginationHeader
      title="All Posts"
      description="Just writing. Nothing else."
    />
  </Section>

  <Section>
    <BlogGallery postList={page.data} />
  </Section>

  <Section>
    <NewerOlderPagination page={page} />
  </Section>
</Base>
