@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import "./typography.css"; */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60bf;
  --border: #ab4b08;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
} */

@layer base {
  * {
    border-color: var(--border);
    outline-color: var(--accent);
    scrollbar-width: auto;
    scrollbar-color: var(--muted) transparent;
  }
  html {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: monospace;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
  }
  a,
  button {
    outline-color: var(--accent);
    outline-offset: 1px;
  }
  a:focus-visible,
  button:focus-visible {
    text-decoration: none;
    outline-style: dashed;
    outline-width: 2px;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 56rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.active-nav {
  color: var(--accent);
  font-weight: bold;
  text-decoration: none;
}
