---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Tag from "@/components/Tag.astro";
import { SITE } from "@/config";
import { getNotionUniqueTags } from "@/utils/getNotionPosts";

const tags = await getNotionUniqueTags();
/* Set cache-control header for SSR response */
if (Astro.response && Astro.response.headers) {
  Astro.response.headers.set("cache-control", "public, max-age=30, stale-while-revalidate=60");
}
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header />
  <Main pageTitle="Tags" pageDesc="All the tags used in posts.">
    <ul class="mx-auto max-w-[90vw] md:max-w-4xl">
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
