---
import { ContactForm } from '@/partials/ContactForm';
import Base from '@/templates/Base.astro';
import { AppConfig } from '@/utils/AppConfig';
import { Section } from '@/components';

const title = `Contact me - ${AppConfig.site_name}`;
const { description } = AppConfig;
---

<Base head={{ title, description }}>
  <Section>
    <ContactForm />
  </Section>
</Base>
