---
import Layout from "@layouts/Layout.astro";
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Waline from "@components/Waline.astro";
import { SITE } from "@config";
---

<Layout title={`Guestbook | ${SITE.title}`}>
  <Header activeNav="guestbook" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="guestbook" class="prose mb-28 max-w-3xl prose-img:border-0">
      <Waline />
    </section>
  </main>
  <Footer />
</Layout>
