---
import IconArrowLeft from "@/assets/icons/IconArrowLeft.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import LinkButton from "./LinkButton.astro";

const { page } = Astro.props;
---

{
  page && page.totalPages > 1 && (
    <nav class="mb-8 mt-auto flex justify-center" aria-label="Pagination">
      <LinkButton
        disabled={!page?.prev}
        href={page?.prev as string}
        class:list={["mr-4 select-none", { "opacity-50": !page?.prev }]}
        ariaLabel="Previous"
      >
        <IconArrowLeft class="inline-block" />
        Prev
      </LinkButton>
      {page?.currentPage} / {page?.totalPages}
      <LinkButton
        disabled={!page?.next}
        href={page?.next as string}
        class:list={["ml-4 select-none", { "opacity-50": !page?.next }]}
        ariaLabel="Next"
      >
        Next
        <IconArrowRight class="inline-block" />
      </LinkButton>
    </nav>
  )
}
