---
import { generateToc } from "@/utils/generateToc";
import type { MarkdownHeading } from "astro";
import TOCHeading from "./TOCHeading.astro";

export interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;
const toc = generateToc(headings);
---

{
  toc.length > 0 && (
    <div class="fixed hidden lg:flex top-1/2 right-0 border-2 border-r-0 border-skin-line max-h-[80vh] max-w-[15%] p-4 rounded-lg rounded-r-none overflow-auto flex-col justify-start items-center transform -translate-y-1/2">
      <h2 class="text-lg text-skin-accent underline decoration-dashed underline-offset-4">
        Contents Table
      </h2>
      <ul class="mt-4">
        {toc.map((heading) => (
          <TOCHeading heading={heading} />
        ))}
      </ul>
    </div>
  )
}
