<section>
  <div id="waline" class="mx-auto mt-14 max-w-[40rem]">
    <script is:inline type="module">
      import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";
      init({
        el: "#waline",
        serverURL: "https://comment.pickyzz.dev",
        path: [window.location.pathname.replace(/\/$/, "")],
        lang: "en-us",
        meta: ["nick", "mail"],
        imageUploader: false,
        requiredMeta: ["nick", "mail"],
        copyright: false,
        emoji: ["https://unpkg.com/@waline/emojis@1.1.0/alus"],
        dark: 'html[data-theme="dark"]',
      });
    </script>
  </div>
</section>
