---
import { Section } from '@/components';
---

<Section>
  <!-- ... -->
    <div id="waline" class='-mb-3 max-w-screen-sm mx-auto mt-8'>
        <script>
            Waline.init({
            el: '#waline',
            serverURL: 'https://0onqf7.deta.dev',
            lang: "en-us",
            meta: ['nick', 'mail'],
            imageUploader: false,
            requiredMeta: ['nick', 'mail'],
            copyright: false,
            });
        </script>
    </div>

</Section>